.site-block {
    margin-bottom: rem(150px);
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.bet{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.a-end {
    align-items: flex-end;
}

.a-center {
    align-items: center;
}

// CURSOR
.pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}

.cursor-initial {
    cursor: initial;
}


// POSITIONS

.relative {
    position: relative;
}
.fixed {
    position: fixed;
}
.absolute {
    position: absolute;
}
.static {
    position: static;
}
.sticky {
    position: sticky;
}

